<div id="header-wrapper">
    <div class="header-inner">
        <div class="logo">
               <h1>
                <a href="#" title="欢迎来到Koa Cms项目实战">Koa Cms项目实战</a>
            </h1> 
        </div>
        <div class="nav">
            <ul class="clear">
                 {{each nav}}
                <li> 
                    <!-- <a href="" title="" style="color: red" ></a> -->
                    <!-- <p style="padding-right: 30px ;" >{{$value.title}}</p>   -->
                    <p {{if pathname=$value.url}} class="eee" {{/if}} style="padding-right: 30px ;" >{{$value.title}}</p>  
                </li>
              {{/each}}
            </ul>
        </div>
    </div>
</div>

<style>
    .eee{
        height: 20px;
        color:red;
    }
</style>